{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center">

        <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5 p-3 mb-5">

            <div class="card card-body text-center p-4 p-sm-5 mb-3">
                <h1>Password reset</h1>
                <p>Quyida email manzilingizni kiriting, biz sizga kalit so'zni
                    tiklash uchun qo'llanma yuboramiz.</p>
                <form method="POST">{% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success" type="submit" value="Yuborish!">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}