{% extends 'base.html' %}

{% block title %}Email yuborildi{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center">

        <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5 p-3 mb-5">

            <div class="card card-body text-center p-4 p-sm-5 mb-3">
                <h1>Email manzilingizni tekshiring.</h1>
                <p>Kalit so'zingizni tiklash uchun qo'llanma email manzilingizga yuborildi!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}