<script>
    const storedTheme = localStorage.getItem('theme')

    const getPreferredTheme = () => {
        if (storedTheme) {
            return storedTheme
        }
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
    }

    const setTheme = function (theme) {
        if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.documentElement.setAttribute('data-bs-theme', 'dark')
        } else {
            document.documentElement.setAttribute('data-bs-theme', theme)
        }
    }

    setTheme(getPreferredTheme())

    window.addEventListener('DOMContentLoaded', () => {
        var el = document.querySelector('.theme-icon-active');
        if (el != 'undefined' && el != null) {
            const showActiveTheme = theme => {
                const activeThemeIcon = document.querySelector('.theme-icon-active use')
                const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                    element.classList.remove('active')
                })

                btnToActive.classList.add('active')
                activeThemeIcon.setAttribute('href', svgOfActiveBtn)
            }

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                if (storedTheme !== 'light' || storedTheme !== 'dark') {
                    setTheme(getPreferredTheme())
                }
            })

            showActiveTheme(getPreferredTheme())

            document.querySelectorAll('[data-bs-theme-value]')
                .forEach(toggle => {
                    toggle.addEventListener('click', () => {
                        const theme = toggle.getAttribute('data-bs-theme-value')
                        localStorage.setItem('theme', theme)
                        setTheme(theme)
                        showActiveTheme(theme)
                    })
                })

        }
    })

</script>
<link rel="shortcut icon" href="/media/svg/ds-dark.png">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="stylesheet" href="/static/css2">


<link rel="stylesheet" type="text/css" href="/static/all.min.css">
<link rel="stylesheet" type="text/css" href="/static/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" href="/static/OverlayScrollbars.min.css">
<link rel="stylesheet" type="text/css" href="/static/tiny-slider.css">
<link rel="stylesheet" type="text/css" href="/static/choices.min.css">
<link rel="stylesheet" type="text/css" href="/static/glightbox.min.css">
<link rel="stylesheet" type="text/css" href="/static/dropzone.css">
<link rel="stylesheet" type="text/css" href="/static/flatpickr.css">
<link rel="stylesheet" type="text/css" href="/static/plyr.css">
<link rel="stylesheet" type="text/css" href="/static/zuck.min.css">


<link rel="stylesheet" type="text/css" href="/static/style.css">
