{% extends 'base.html' %}
{% block title %}{{title}} Room{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-md-8 col-lg-12 p-5">
    <!-- Create a page START -->
    <div class="card">
        <!-- Title START -->
        <div class="card-header border-0 pb-0">
            <h1 class="h4 card-title mb-0">Create a page</h1>
        </div>
        <!-- Title END -->
        <!-- Create a page form START -->
        <div class="card-body">
            <form id="article-form" action="{% url 'base:create_room' %}" method="post">
                {{form|crispy}}
                <button id="submitButton1" data-redirect="{% url 'base:create_room' %}"  type="button" class="btn btn-primary" >Submit</button>
            </form>
        </div>
        <!-- Create a page form END -->
    </div>
    <!-- Create a page END -->
</div>


{% endblock %}